* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #14111c, #1e1122, #2e1228);
    color: #fff;
}

.registro-clientes {
    max-width: 600px;
    margin: 90px auto;
    padding: 20px;
    background-color: #28264f; 
    box-shadow: 0 0 20px rgba(21, 34, 66, 0.8); 
    border-radius: 8px;
    color: #fff;
    position: relative; 
}

.enlace-regreso {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 340px;
    margin-top: 30px;
}

.enlace-regreso i {
    margin-right: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 20px;
    border: 1px solid #39426a; 
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #aaa; 
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: none; 
    border-radius: 5px;
    color: #28264f; 
    background-color: #fff; 
    margin-top: 5px; 
}

textarea {
    resize: vertical;
}

.boton-registrar-cliente {
    text-align: center;
}

button {
    padding: 10px 20px;
    background: linear-gradient(to bottom, #8019e6, #14111c);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: linear-gradient(to bottom, #8019e6, #14111c);
}
